@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');


@import 'variable';


body{
    background-color: #F8F7F1;
    height: auto;
    width: 100%;
    margin: 0;
}

@import 'header';

@import 'accueil';

@import 'administration';

@import 'utile';


