/*----------------------------CONNEXION ----------------------- */



.conteneur_co {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
    font-family: 'Poppins';
    width: 30vw ;
    margin-left: 35%;
    padding-right: 2%;
    background-color: #DED3A6;
    border-radius: 20px;
    margin-top: 2%;
  }
  
  /* Style pour le logo et le titre */
  .logo_place_express {
    width: 190px; /* Ajustez la largeur selon vos besoins */
    margin-bottom: 20px; /* Espacement sous le logo */
    margin-left: 2%;
  }
  
  .titre_co {
    font-size: 24px; /* Ajustez la taille de la police selon vos besoins */
    margin-bottom: 20px; /* Espacement sous le titre */
    text-align: center;
    margin-left: 2%;
  }
  
  /* Style pour les champs de formulaire et le bouton */
  input[type='text'],
  input[type='password'] {
    padding: 10px; /* Espacement à l'intérieur des champs de formulaire */
    margin-bottom: 10px; /* Espacement entre les champs de formulaire */
    border-radius: 4px;
    width: 40vh;
    border: none; /* Couleur de la bordure des champs de formulaire */
  }
  
  button[type='submit'] {
    background-color: #759242; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte du bouton */
    padding: 10px 20px; /* Espacement du bouton */
    border: none; /* Suppression de la bordure */
    cursor: pointer;
    border-radius: 4px;
    font-size: larger;
    width: 43vh;
    transition: background-color 0.3s;
  }
  
  button[type='submit']:hover {
    background-color: #6da4df; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte du bouton */
    padding: 10px 20px; /* Espacement du bouton */
    border: none; /* Suppression de la bordure */
    cursor: pointer;
    width: 43vh;
    border-radius: 4px;
  }
  
  #Ou{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.5em;
    font-weight: bold;
    color: #333333;
  }
   /********************************BOUTON GOOGLE*************************************/
  
   /* Style de base */
  .google-login-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #4285f4; /* Couleur principale de Google */
    transition: background-color 0.3s ease;
    margin-top: 2%;
    width: 40vh;
  }
  
  /* Effet au survol */
  .google-login-btn:hover {
    background-color: #3367d6; /* Couleur au survol */
  }
  
  /* Effet au clic */
  .google-login-btn:active {
    background-color: #2a56c6; /* Couleur au clic */
  }
  
  /* Icône Google */
  .google-icon {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    fill: #fff;
  }