body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.footer{
  display: flex;
  align-items: center;
  background-color: #212517;
  height: auto;
  width: 100%;
  color: #F2F2EF;
}

.prenom{
  height: auto;
  width: 33vw;
  display: flex;
  align-items: center;
  justify-content: center;

}

.ul_prenom{
  list-style: none;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

.ul_prenom li{
  display: flex;
  padding: 7px 0;
}

.info{
  height: auto;
  width: 33vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ul_info{
  list-style: none;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

.ul_info li{
  display: flex;
  padding: 10px 0;
}

.ul_info li a {
  text-decoration: none;
  color: #F2F2EF;
}
.ul_info li a:hover {
  text-decoration: underline;

}
.logo{
  height: auto;
  width: 33vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 50px;
  font-size: 1.5rem;
  
}

.loc{
  margin-right: 60px;
}

@media screen and (max-width: 768px) {
  .loc{
      margin-right: 3vw;
  }
}