
.header{
    
    width: 100%;
    background-color: white;
    height: 9vw;
    max-height: 10rem;
    min-height: 6rem;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0);
    color: $colorTexte;
    & a{
        text-decoration: none;
        color:$colorTexte;
    }
    &_haut{
        width: 100%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        &_logo{
            width: 22vw;
            max-width: 25rem;
            height: 3.5vw;
            max-height: 4rem;
            background-image: url("image/logoDore.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }&_element{
            width: 16vw;
            max-width: 16rem;
            display: flex;
            align-items: center;
            font-size: 1.6em;
            & img{
                height: 3vw;
                width: 3vw;
                max-width: 4rem;
                max-height: 4rem;
                margin-right: 1vw;
            }
            
        }&_btnNav{
            display: none;
            width: 7vw;
            height: 7vw;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border:rgb(0, 0, 0,0);
            background-color:rgba(36, 19, 19,0);   
        }&_btnCompte{
            width: 16vw;
            font-size: 1.6em;
            max-width: 16rem;
            height: 3.5vw;
            background-position: left;
            background-repeat: no-repeat;
            background-size: 20%;
            background-color:rgba(187, 61, 61,0);  
            padding-left: 1.75rem; 
            border:none;
        }&_compte{
            z-index: 4;
            display: flex;
            height:9rem;
            min-width: 17rem;
            width: auto;
            border:1px solid #A99063;
            background-color: white;
            border-radius: 10px;
            position: absolute;
            right: 9.5vw;
            top:9vh;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            &_titre{
                font-size: 1.5em;
                margin-bottom: 4%;
                padding: 0 1rem 0 1rem;
            }

            & :nth-child(3){
                color: gray;
                margin-top: 4%;
            }
            
        }&_navigation{
            display: none;
            background-color: white;
            border:1px solid #A99063;
            height:35vw;
            width: 35vw;
            position: absolute;
            border-radius: 10px;
            left: 10vw;
            top:14vw;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }
    }
    &_bas{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 1.4em;
        height:30%;
        & span{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 50%;
            height: 100%;
            & a{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                width: 33%;
                height: 100%;
                
            }
        }
        &_vert{
            height: 30%;
            width: 100%;
            max-height: 15px;
            max-width: 22rem;
            background-color: $colorVert;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
    }
}  



@media only screen and (min-width:1200px) {
    .header{
        &_haut{
            &_element{
                position: relative; 
                &::before {
                    content: "";
                    width: 10rem;
                    height: 2vh;
                    position: absolute;
                    border-bottom: 4px solid $colorDore;
                    padding: 10px;
                    margin-left: 3rem;
                    display: inline-block;
                    transform: scaleX(0);
                }
                &:hover::before {
                    transform: scaleX(1);
                    transition: transform 0.3s ;
                }
            }&_spanCompte{
                position: relative; 
                z-index: 1;
                &::before {
                    z-index: -1;
                    content: "";
                    width: 8.5rem;
                    height: 2vh;
                    position: absolute;
                    border-bottom: 4px solid $colorDore;
                    padding: 12px;
                    margin-left: 3rem;
                    display: inline-block;
                    transform: scaleX(0);
                }
                &:hover::before {
                    transform: scaleX(1);
                    transition: transform 0.3s ;
                }

            }
        }
        &_bas{
            & a{
                position: relative; 
                &::before {
                    content: "";
                    width: 12rem;
                    height: 2vh;
                    position: absolute;
                    border-bottom: 4px solid $colorDore;
                    padding: 5px;
                    display: inline-block;
                    transform: scaleX(0);
                }
                &:hover::before {
                    transform: scaleX(1);
                    transition: transform 0.3s ;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .header{
        &_haut{
            &_element{
                position: relative; 
                font-size: 1.2em;
                &::before {
                    content: "";
                    width: 7rem;
                    height: 2vh;
                    position: absolute;
                    border-bottom: 4px solid $colorDore;
                    padding: 10px;
                    margin-left: 2.15rem;
                    display: inline-block;
                    transform: scaleX(0);
                }
                &:hover::before {
                    transform: scaleX(1);
                    transition: transform 0.3s ;
                }

            }&_btnCompte{
                font-size: 1em;
                z-index: 2;
            }&_spanCompte{
                position: relative; 
                z-index: 1;
                &::before {
                    z-index: -1;
                    content: "";
                    width: 6rem;
                    height: 2vh;
                    position: absolute;
                    border-bottom: 4px solid $colorDore;
                    padding: 8px;
                    margin-left: 2.5rem;
                    display: inline-block;
                    transform: scaleX(0);
                }
                &:hover::before {
                    transform: scaleX(1);
                    transition: transform 0.3s ;
                }

            }&_compte{
                display: flex;
                height:8rem;
                width: 14rem;
                &_titre{
                    font-size: 1.25em;
                }
            }
        }&_bas{
            font-size: 0.9em;
            & a{
                position: relative; 
                &::before {
                    content: "";
                    width: 8rem;
                    height: 2vh;
                    position: absolute;
                    border-bottom: 3px solid #A99063;
                    padding: 2px;
                    display: inline-block;
                    transform: scaleX(0);
                }
                &:hover::before {
                    transform: scaleX(1);
                    transition: transform 0.3s ;
                }
            }
        }
    }
}


@media only screen and (max-width: 767px) {
    .header{
        height: 18vw;
        &_haut{
            height: 100%;
            &_logo{
                width: 26vw;
                height: 15vw;
                background-image: url("image/logo_dore_mobile.png");
            }
            &_element{
                display: none;
            }
            &_btnNav{
                display: block;
            }
            &_btnCompte{
                font-size: 0vw;
                width: 7vw;
                height: 7.5vw;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            &_compte{ 
                height:22vw;
                width: 38vw;
                right: 10vw;
                top:14vw;
                &_titre{
                    font-size: 3.5vw;
                }
            
            }&_navigation{
                visibility: visible;
                display: flex;
            }
            
        }
        &_bas{
            display: none;
        }
    }
}


