/*-----------------------------------Mesreservation-----------------------------------*/
h1{
  text-align: center;
  font-size: 2.5em;
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333333;
  text-decoration: underline;
}
.app-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
}

.reservation-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: calc(100% - 100px); /* Prend la largeur totale de la ligne */
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction:row; /* Ajustez la direction pour aligner les éléments verticalement */
  text-align: center; /* Centre tout le contenu horizontalement */
  background-color: #ccc;
}

.reservation-id,
.reservation-bat,
.reservation-etage,
.reservation-place,
.reservation-date {
  width: 100%; /* Prend la largeur totale de la ligne */
  margin-bottom: 5px; /* Ajoute un espace entre chaque élément */
}

.sup-res{
  text-align: center; /* Centre les boutons horizontalement */
  color: white;
  text-decoration: none;
  background-color: #ff0022;
  border-radius: 4px;
  padding:  5% 15%;
  margin-top: 5px;
  display: block;
}

.modif-res{
  text-align: center; /* Centre les boutons horizontalement */
  color: white;
  text-decoration: none;
  background-color: #ffae00;
  border-radius: 4px;
  padding: 5%;
  margin-top: 5px;
  display: block;
}

.sup-res:hover {
  background-color: #ff002259;
}

.modif-res:hover {
  background-color: #ffae009f;
}
