body{
    margin: 0;
    padding: 0;
  }
  
.container{
    width: 25vw;
    height: 38vh;
    border-radius: 20px;
    border: solid 6px #A99063;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #DED3A6;
    z-index: 10;
    position: relative;
}

.titre{
    text-decoration: underline;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    color: #374709;
    margin: 2vh 0;
}

.popup_info{
    height: 60%;
    width: 95%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon{
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 0.5vw;
}

.bouton{
    margin: 2vh 0;
}

.close{
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 2px;
    top: 4px;
}

@media screen and (max-width: 768px) {
    .container{
        width: 45vw;
    }
    
}